$def with (content)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>QI之说</title>
    <link rel="stylesheet" href="lib/css/bootstrap.min.css" />
    <script src="lib/jquery-1.11.1.min.js"></script>
    <script src="lib/js/bootstrap.min.js"></script>
    <style>
    /*
    * Globals
    */
    /* Links */
    a,
    a:focus,
    a:hover {
    color: #fff;
    }

    /*
    * Base structure
    */
    html,
    body {
    height: 100%;
    /*background-color: #333;*/
    }
    body {
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
    }

    p.baseP{
        color: black;
    }
    h1.baseH{
        font-size: 5em;
        color: black;
    }
    
    </style>
  </head>
  <body>
    $:content
    <!-- <p>Contact ME !</p> -->
  </body>
</html>