<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Semantic.js</title>
    <link rel="stylesheet" href="../static/lib/semanticLib/semantic.min.css">
    <script src="../static/lib/jquery-2.0.3.js"></script>
    <script src="../static/lib/semanticLib/semantic.min.js"></script>
</head>
<body>
        <div class="blue ui buttons">
            <div class="ui button">一</div>
            <div class="ui button">二</div>
            <div class="ui button">三</div>
        </div>
</body>
</html>